<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zen Zone</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css" />

</head>

<body>
    <header>
        <section class="hero is-small is-primary">
            <div class="level hero-body">
                <div>
                    <p class="title">
                        Zen Zone
                    </p>
                </div>
            </div>
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div id="navbarBasicExample" class="navbar-menu">
                    <a class="navbar-item" href="/">Home</a>
                    <a class="navbar-item" href="/services">Services</a>
                    <a class="navbar-item" href="/aboutus">About Us</a>
                    {{#if loggedIn}}
                    <a id="logout" class="navbar-item">Logout</a>
                    {{else}}
                    <a class="navbar-item" href="/login">Login</a>
                    {{/if}}
                </div>
            </nav>
        </section>

    </header>

    <main>
        <div class="content">
            {{{body}}}
        </div>
    </main>
    {{#if loggedIn}}
    <script src=""></script>
    {{/if}}
</body>

</html>