<link rel="stylesheet" type="text/css" href="/css/aboutus.css" />


<body class="has-text-centered">
        <div class="columns is-centered">
                <div class="column is-half">
                        <section class="has-text-white">
                                <div class="card my-4">
                                        <div class="card-content">
                                                <h1 class="title">Meet Our Licensed Massage Therapists
                                                </h1>

                                                <p> Jen studied kinesiology at the Ohio State University
                                                        and has been
                                                        Licensed Massage Therapist since 2012. She
                                                        specializes in
                                                        Ashiatsu
                                                        and deep tissue massage.
                                                </p>

                                                <p>Casper has been practicing massage therapy since 2017
                                                        he specializes
                                                        in
                                                        deep tissue massage as well as hot stone
                                                        massage.</p>

                                                <p>Peyton got her license to practice massage therapy in
                                                        2020.
                                                        She specializes in barefoot Ashiatsu massage.
                                                        Additionally,
                                                        Peyton provides relaxation and hot stone
                                                        massages. </p>

                                                <p>Alex has been practicing massage therapy since 2000.
                                                        He is passionate
                                                        about healing
                                                        and provides
                                                        excellent care for
                                                        clients seeking to improve muscular imbalances
                                                        or rehabilitate
                                                        post surgery.</p>

                                                <p>Andrew got his license in 2019. He specializes in
                                                        Ashiatsu and Thai
                                                        massage. He brings a lot of compassion and care
                                                        to the
                                                        table for clients seeking to improve
                                                        musculoskeletal pain.</p>

                                                <p>Crystal got her license to practice massage therapy
                                                        in 2010. She
                                                        specializes in hot stone and relaxation massage.
                                                        Her dedication
                                                        to helping
                                                        clients find relief from pain and tension is
                                                        commendable. </p>
                                        </div>
                                </div>
                                <div class="card mt-4">
                                        <div class="card-content is-italic">
                                                <p>Zen Zone is an employee owned business that is commited to creating a
                                                        more peaceful
                                                        world.
                                                        Since it began in 2017, Zen Zone has grown thanks to our valued
                                                        customers,
                                                        the dedicated team
                                                        of licensed massage therapists,
                                                        and customer service providers.
                                                </p>
                                        </div>
                                </div>
                        </section>
                </div>
        </div>
</body>
<footer class="has-text-white has-text-centered">Contact Us</footer>
<h2 class="has-text-white has-text-centered"> Please email us at ZenZone@gmail.com with any questions or concerns</h2>