<link rel="stylesheet" type="text/css" href="/css/services.css" />
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css" />

<head>
  <title>Massage Services</title>
</head>

<body>

  <div class="columns is-centered">
    <div class="column is-half">
      {{#each services}}
      <div class="card my-4">
        <div class="card-content">
          <div id="service">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>Duration: {{duration}} minutes</p>
            <p>Price: ${{price}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</body>