a {
    color: var(--dark);
    text-decoration: none;
}

a:visited {
    color: inherit;
}

body {
    background-image: url("/images/Background-Sunset.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 10;
    min-height: 600px;
  }

  .container {
    border-left: 10px;
    padding-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif rgb(161, 34, 215);
    font-size: large;
    text-align: center;
  }

  
